#s-997ba790-17cc-4753-95d0-6412afb2af91 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-997ba790-17cc-4753-95d0-6412afb2af91 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-997ba790-17cc-4753-95d0-6412afb2af91 #s-spinner-2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-997ba790-17cc-4753-95d0-6412afb2af91 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}